*{
    margin: 0;
    padding: 0;
}
body,html{
    height: 100%;
    width: 100%;
    background: #000;
    color: white;
}

.main #page1 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmax;
    line-height: 3vmax;
    font-family: Source Serif 4;
    color: #DEDEDE;

}
.main #page1 .header .links a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5vmax;
    padding: 0.7vmax;
    font-family: Domine;
    color: #DEDEDE;
}
.center{
    text-align: center;
}

.center img{
    height: 80vh;
    width: 90vw;
    object-fit: cover;
}
.center h2{
    padding: 60px 0;
    font-size: 7.5vmax;
    line-height:9vmax;
    font-family: Domine;
    color: #DEDEDE;
}

/* P2 */
#page2{
    height: 650px;
    margin-top: 100px;
    background: url(./assets/p2BG.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 80px;
}
#page2 h3{
    font-size: 45px;
    font-family: Domine;
    color: #FFFFFF;

}
#page2 p{
    font-size: 2vmax;
    padding: 10px 0 60px 0;
    font-family: Outfit;
    color: #FFFFFF;
}
#page2 button{
    width: 150px;
    padding: 10px 20px;
    border: none;
    font-family: Outfit;
    color: #212121;

}
#page2 button:hover{
    color: white;
    background: #000;
    cursor: pointer;
}

/* P3 */
#page3{
    margin-bottom: 20px;
}
#page3 .projects .project img{
    /* height: 32vh; */
    width: 28vw;
    object-fit: cover;
}

#page3 .projects{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    padding: 40px;
}
#page3 .projects .project h5{
    font-size: 20px;
    font-weight: 400;
    font-family: Outfit;
    color: #DEDEDE;

}
#page3 .projects .project p{
    font-size: 15px;
    color: #DEDEDE9E;
    font-family: Outfit;

}
/* P4 */
#page4{
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 40px;
    margin: 50px 0;
}
#page4 h2{
    font-size: 48px;
    font-family: Domine;
    color: #DEDEDE;
}

/* P5 */

#page5 .contact{
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 10% 90%;
    padding: 40px;
    font-family: Domine;
    font-size: 20px;
    color: #DEDEDE;
}

.hInfo{
    width: 80%;
    font-family: Outfit;
    font-size: 15px;
    color: #DEDEDE;

}
.cForm{
    margin-top: 15vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    grid-column: 1 / 3;
}
.cForm h2{
    padding: 20px 0;
}
.cForm .input input[type="text"]{
    width: 50px;
    height: 50px;
    background:#CCCCCC1F;
    border: none;
    text-align: center;
    font-size: 20px;
    margin: 2px;
    font-family: Outfit;
    color: #DEDEDE;
}

.contact button{
    width: 290px;
    height: 30px;
    background:#B0B0B0;
    border: none;
    margin: 25px 0;
    font-family: Outfit;
    font-size: 15px;
    color: #080808;
}
.contact a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-family: Outfit;
    color: #B1B1B1;
}
footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

footer h2{
    color: #DEDEDE9E;
    font-family: Domine;
    font-size: 28px;
    color: #DEDEDE9E;

}
footer button{
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #A3A3A333;
    cursor: pointer;
    font-family: Outfit;
    font-size: 20px;
    color: #DEDEDE9E;
}


@media (max-width:700px) {
    #page3 .projects .project img{
        width: 32vw;
    }
    .hid{
        display: none;
    }
    #page4{
        grid-template-columns: 100%;
    }
    .cForm{
        margin-top: 35vmax;
    }
    #page5 .contact{
        grid-template-columns: 60% 40%;
        grid-template-rows: 10% 90%;
    }
}